@import './theme/style-guide.scss';


.hero {
  /* Sizing */
  width: 100vw;
  height: 100vh;
  /* Flexbox stuff */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Text styles */
  text-align: center;
  color: #fff;

  h1 {
    font-size: 3em;
    margin-top: 0;
    margin-bottom: 0.5em;
  }

  /* Background styles */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(https://img.freepik.com/premium-photo/industrial-style-loft-apartment-with-indoor-balcony-3d-render_269031-362.jpg?w=2000);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

.hero-btn {
  /* Positioning and sizing */
  display: block;
  width: 200px;

  /* Padding and margins */
  padding: 0.8em;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;

  /* Text styles */
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;

  /* Border styles */
  border: 3px solid #fff;
  border-radius: 20px;
   &:hover{
    /* Background styles */
    background-color: rgba(147, 112, 219, 0.8);
    color: #fff;
   }
}

.form-buttons { 
  display: flex;
  justify-content: space-between;

  &.initial{
    justify-content: flex-end;
  }

  &.final{
    justify-content: flex-start;
  }
}